<footer class="page-footer bg-dark text-white">

    <div class="container py-4">

        <div class="row mb-4">

            <div class="col mb-4 mb-md-0 mx-auto">
                <h4 class="text-yellow-300">Навигация</h4>
                <nav class="footer-nav">
					{% include "parts/navigation.html" %}
                </nav>
            </div>

            <div class="col-12 col-sm mb-4 mb-md-0">
                <h4 class="text-yellow-300">Контакты</h4>
                <table>
                    <tr>
                        <td class="text-center"><i class="fas fa-at mr-2"></i></td>
                        <td><a href="mailto:admin@night-light.com">pavel@night-light54.com</a></td>
                    </tr>
                    <tr>
                        <td class="text-center"><i class="fas fa-phone mr-2"></i></td>
                        <td>
                            <a href="tel:+7(913)123-45-67">+7(913)123-45-67</a>
                            <span class="ml-2">(Watsapp)</span>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-12 col-md mb-4 mb-md-0">
                <h4 class="text-yellow-300">Соц. сети</h4>
                <table>
                    <tr>
                        <td class="text-center"><i class="fab fa-vk mr-2"></i></td>
                        <td><a href="https://vk.com/nightlight54">nightlight54</a></td>
                    </tr>
                    <tr>
                        <td class="text-center"><i class="fab fa-instagram mr-2"></i></td>
                        <td><a href="https://www.instagram.com/night_light54/">night_light54</a></td>
                    </tr>
                </table>
            </div>

        </div>

        <div class="row">
            <div class="col copy text-muted text-center text-md-right">
                <small>&copy; Developed for Pavel Voronov 2018</small>
            </div>
        </div>

    </div>

</footer>